@use "../abstracts/" as *;

body {
  display: grid;
  place-items: center;
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(clr(accent, "grd-1"), clr(accent, "grd-2"));
  position: relative;

  @include mq(md) {
    padding-top: 5rem;
    &::after {
      content: url("../../images/illustration-box-desktop.svg");
      position: absolute;
      left: 10%;
      top: 43%;
    }
  }
}
