$colors: (
  primary: (
    "blue": hsl(238, 29%, 16%),
    "red": hsl(14, 88%, 65%),
  ),
  accent: (
    "grd-1": hsl(273, 75%, 66%),
    "grd-2": hsl(240, 73%, 65%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(240, 5%, 91%),
    //Divider
    400: hsl(240, 6%, 50%),
    500: hsl(237, 12%, 33%),
  ),
);
